* {
    padding: 10px;
}

button {
    margin: 5px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #05abd4;
    color: #05abd4;
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
}

button:hover {
    background-color: #05abd4;
    color: #ffffff;
}